.hero {
  height: 100vh;
   background:
    linear-gradient(rgba(11,31,58,0.8), rgba(11,31,58,0.8)),
    url("https://images.unsplash.com/photo-1553877522-43269d4ea984");
  background-size: cover;
  background-position: center;
  animation: gradientMove 8s ease infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
  text-align:center;
  padding:0 20px;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(11, 31, 58, 0.75);
}

.hero-content {
  position: relative;
  max-width: 900px;
  margin: auto;
}

.hero-overlay {
  text-align: center;
  max-width: 850px;
  padding: 20px;
  animation: fadeUp 1.2s ease;
}

.hero h1 {
  font-size: 3rem;
  color:white;
  font-weight: 600;
  line-height: 1.3;
}

.hero span {
  color: #60A5FA;
}

.hero p {
  margin-top: 2px;
  font-size: 1.1rem;
  color: #E2E8F0;
}

.hero-buttons {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  justify-content:center;
}

.btn-primary,
.btn-outline {
  padding: 14px 28px;
  border-radius: 8px;
  font-size: 16px;
  text-decoration: none;
  transition: 0.3s ease;
  white-space: nowrap;
}

.btn-primary {
  background: #2563eb;
  color: white;
}

.btn-primary:hover {
  transform: translateY(-4px);
  background: #1D4ED8;
}

.btn-outline {
  border: 2px solid #60A5FA;
  padding: 14px 30px;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  transition: 0.3s ease;
}

.btn-outline:hover {
  background: #2563EB;
  transform: translateY(-4px);
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
@media (max-width: 768px) {

  .hero h1 {
    font-size: 2rem;
  }

  .stats-section {
    flex-direction: column;
    gap: 40px;
  }

   .hero-buttons {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .btn-primary,
  .btn-outline {
    width: 80%;
    text-align: center;
  }
}
