.services-container {
  padding: 80px 60px;
  background: #FFFFFF;
}

.services-header {
  text-align: center;
  margin-bottom: 60px;
}

.services-header h1 {
  font-size: 2.6rem;
  color: #0B1F3A;
}

.services-header p {
  margin-top: 15px;
  color: #64748B;
}

.service-grid {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.service-card {
  background: #F8FAFC;
  padding: 40px;
  width: 320px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  transition: 0.4s;
}

.service-card:hover {
  transform: translateY(-10px);
}

@media (max-width: 768px) {

  .hero h1 {
    font-size: 2rem;
  }

  .stats-section {
    flex-direction: column;
    gap: 40px;
  }

}